body{
	/*background: #242582;*/
}
h1{
	position:absolutte;
	margin-top:0;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: left;
	font-size: 90px;
	background:#F64C72;
	color: rgb(255,255,255);
}
button{
	position:absolute;
	display: block;
	margin: auto;
	margin-top: 200px;
}
#first{
	margin-top: 100px;
	margin-left: 300px;
	height: 30px;
}
#second{
	margin-top: 100px;
	margin-right: 300px;
	float: right;
	height: 30px;
}
select{
	position: relative;
	margin:auto;
	margin-left:250px;
	width: 140px;
	height: 30px;
}
#div1{
	text-align:center;
	color: #242582;
	margin-top:50px;
	height:40px;
}
