body{
	/*background: #242582;*/
}
h1{
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	text-align: left;
	background:#F64C72;
	color: rgb(255,255,255);
}
button{
	display:block;
	margin-left:45% ;
	margin-top: 200px;
	width:10%;
}
#first{
	float:left;
	margin: 6.66%;
	height: 30px;
	width:20%;
}
#second{
	margin-top: 100px;
	margin: 6.66%;
	float: left;
	height: 30px;
	width:20%;
}
select{
	float:left;
	margin:6.66%;
	width: 140px;
	height: 30px;
	width:20%;
}
#div1{
	text-align:center;
	color: #242582;
	margin-top:50px;
	height:40px;
}
#footer{
	text-align:center;
	margin-bottom: 0px;
	height:100px;
	padding-top: 15px;
}
